# Database
DB_HOST=127.0.0.1
DB_NAME=xxx
DB_USER=xxx
DB_PASS=xxx

# Server
IP_SERVER=http://xxx:3000
HOS_CODE=xxxxx
API_KEY=xxx
SUMMARY_KEY=xxxx
NODEJS_URL=xxx

# Session
SESSION_NAME=script
SESSION_PATH=/script
SESSION_SECURE=true
SESSION_SAMESITE=Lax